.container {
    margin: 0 auto 0; // товщина області поля
    display: flex; // тип рамки яка генерується для компонента
    flex-wrap: wrap; // контролює чи є гнучкий контейнер однорядковим чи багаторядковим, напрямок укладання нових рядків
    align-items: center;// вирівнює flex-елементи поточного рядка вздовж поперечної осі
    justify-content: flex-start;// вирівнює flex-елементи поточного рядка вздовж головної осі
  }

  .wrapper {
    display: flex;
    width: 100%;// ширина області
    justify-content: space-around; // вирівнює елементи вздовж головної осі поточного рядка
    margin-top: 20px;//  відступ між текстом верхнім і фото
  }


  h2 {
    margin-top: 10px; // відступ  між Header і текстом
  }

  .info  {
    margin-left: 20px;// відступ ліве поле до тексту
    margin-bottom: 10px;//  відступ між текстом верхнім і фото
    &_bot {
      margin-bottom: 45px;// відступ між текстом і Footer
    }
  }
  