
<div class="info">
 <h2> Ми пропонуємо</h2>
Інтернет магазин «ІКОНИ ВИШИТІ ХРЕСТИКОМ. Ручна робота» - це магазин, який торгує надзвичайними іконами ручної роботи. Вони випромінюють тепло, несуть в собі релігійний зміст, наповнені енергетикою і позитивними думками досвідчених майстринь, які вкладають своє вміння і душу у власноруч вишиті вироби. Це досить кропітка праця, яка вимагає великого терпіння, вміння і досвіду, які виробляються роками. Вироби ручної роботи вимагають правильного поєднання кольорів і візерунків, різноманітних технік і правил вишивання. 


</div>
<div class="wrapper">
      <img src="assets/images/2.jpg" 
      width="700"
      height="450"
      />
      <img src="assets/images/3.jpg"   
      width="700" 
      height="450" 
      />  
     
    </div>

    <div class="info info_bot">
      <h2>Доставка</h2>
Шановні клієнти! Ваше замовлення обробляється протягом доби. Після телефонного узгодження всіх позицій щодо вашого замовлення товар наступного дня (крім суботи та неділі) відправляється Новою поштою (можлива доставка Укрпоштою).
Для відправки товару від Вас необхідна наступна інформація: місце проживання, адреса та відділення Нової пошти, прізвище, імя, мобільний телефон. Просимо Вас ці дані повідомити нашому консультанту при оформленні замовлення.
<h2>Оплата</h2>
Готівка: Ви можете розрахуватися за товар при безпосередньому його отриманні. 
Банківські картки: Ви можете здійснити онлайн-оплату за товари за допомогою банківських карток: Visa або MasterCard. Доставка товарів відбудеться після підтвердження Вашого платежу.

Безготівково: Здійснити безготівкову оплату за товари Ви можете у будь-якому відділенні банку. Для цього на Вашу вказану електронну пошту надійде лист з реквізитами та сумою до оплати. Після того як кошти надійдуть на наш рахунок, буде здійснена доставка.

    </div>

       